.topic-block {
  margin: 16px;
  padding: 16px 24px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  height: 112px;
  background: #FFFFFF;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__footer {
      padding-top: 8px;
      text-transform: uppercase;
      // font-style: italic;
      font-size: 13px;

      font-family: Helvetica Neue;
      color: #7686AE;
  }

  &__caption{
    overflow: hidden;
  }

  &:hover{
    color: #4D72D1;
  }
}