.topic-block {
  margin: 8px;
  padding: 8px;
  // box-shadow: 0 0 18px 0 #edf0f3;
   box-shadow: 
  0 3px 6px rgba(0,0,0,0.16), 
  0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  cursor: pointer;
  
  // border: 1px solid rgba(77, 114, 209, 0.3);
  height: 112px;
  
  &__date{
      padding-top: 8px;
      text-transform: uppercase;
      font-style: italic;
  }

  &:hover{
    color: #4D72D1;
  }
}