.feed-block {
  margin: 0 16px;
  padding: 8px;
  cursor: pointer;
  border: 0 solid rgba(77, 114, 209, 0.3);
  border-bottom-width: 1px;
  background: #FFFFFF;
  font-family: 'Open Sans';
  color: #262626;
  font-size: 14px;
  line-height: 19px;

  &__date {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
  }
  
  &:hover {
    color: #4D72D1;
  }
}