.main-page{
    padding: 0 64px;
    font-family: Merriweather;
    display: flex;
    flex-direction: column;


    &__content-container{
        display: flex;
        padding-top: 24px;
    }

    &__innerView-container{
        flex: 3;
    }

    &__news-feed-container{
        flex: 1;
        border-left: 1px solid rgba(77, 114, 209, 0.3);
    }
}